body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}






/* Agrega otros estilos según sea necesario */
.info-box {
    display: inline-block;
    width: 200px;
    margin: 10px;
}

.info-box-icon {
    padding: 10px;
    font-size: 30px;
}

.info-box-content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.info-box-text {
    font-size: 16px;
    font-weight: bold;
}

.info-box-number {
    font-size: 24px;
}

.bg-success {
    background-color: #28a745;
    color: #fff;
}

.bg-danger {
    background-color: #dc3545;
    color: #fff;
}
